body {
  margin-bottom: 20vh;
  width: 100%;
}

div#main div {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    line-height: normal;
    margin-bottom: auto;
    font-size: large;
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

#sigma-parent {
  width: 1400px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}    

#sigma-example {
  position: absolute;
  width: 100% !important;
  height: 100%;
  border: 1px solid gray;
}

img {
  width: 50%;
}

.sigma-scene, .sigma-labels, .sigma-mouse {
  left: 0;
}

table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  table-layout: fixed;
}

  
td, th {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #eee;
}