div {
    text-align: center;
}
h6 {
    line-height: normal;
    margin-bottom: auto;
    font-size: large;
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}