/* color scheme

zoom/bright blue: #2D8CFF
light blue: #BCE4F0
navy: #1A5F89

*/

/* navbar */

nav {
    display: inline-block;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    margin-bottom: 2vh;
}

ul {
    list-style-type: none;
    margin-top: 5vh;
    margin-right: 3vw;
}

li {
    float: right;
}

li a {
    display: block;
    margin-left: 2.5em;
    margin-top: -1.8vh;
    margin-bottom: 0.5vh;
    overflow: none;
    text-decoration: none;
    color:rgb(61, 61, 61);
}

li a {
    text-decoration: none;
    background-image: linear-gradient(#2D8CFF, #2D8CFF);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5px;
    transition: background-size .5s;
    padding-bottom: 0.5vh;

}

li a:hover, li a:focus {
    background-size: 100% 0.5px;
}

h1#logo {
    float: left;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    width: 20%;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
    cursor: default;
}

@media screen and (max-width: 1024px) {
    h1#logo {
        font-size: x-large;
        margin-top: 3vh;
    }
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {

}

/* end navbar */
