/* color scheme

zoom/bright blue: #2D8CFF
light blue: #BCE4F0
navy: #1A5F89

*/

/* navbar */

nav {
    display: inline-block;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    width: 80%;
}

ul {
    list-style-type: none;
    margin-top: 5vh;
    margin-right: 3vw;
}

li {
    float: right;
}

li a {
    display: block;
    margin-left: 2.5em;
    margin-top: -1.8vh;
    margin-bottom: 0.5vh;
    overflow: none;
    text-decoration: none;
    color:rgb(61, 61, 61);
}

li a {
    text-decoration: none;
    background-image: linear-gradient(#2D8CFF, #2D8CFF);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5px;
    transition: background-size .5s;
    padding-bottom: 0.5vh;

}

li a:hover, li a:focus {
    background-size: 100% 0.5px;
}

h1#logo {
    float: left;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    width: 20%;
}

/* end navbar */

body {
    background-color: white;
    font-family: 'Open Sans','Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: larger;
    text-align: center;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

input {
    width: 40%;
    height: 18px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 4px;
}

h5 {
    font-weight: 500;
}

h6 {
    font-size: 1.9vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    margin: 1vh 0vw 0vh 0vw;
    color: #1A5F89;
    margin-left: -2vw;
}

p {
    width: 100%;
    margin-bottom: 0vh;
}


svg {
    margin-left: -1.25vw;
}

