body {
    background-color: white;
    text-align: center;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    padding: 0;
}


input {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 1.5vh;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #2D8CFF;
}

label {
    margin-left: 0vw;
    text-transform: capitalize;
}

h5 {
    font-weight: 500;
}

h6 {
    font-size: 1.8vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    margin: 0.5vh 0vw 0vh 0vw;
    color: #1A5F89;
    margin-left: -2vw;
}

p {
    font-size: medium;;
    width: 100%;
    font-family: 'Open Sans','Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5vh;
}


p#intro {
    width: 50%;
}

svg {
    margin-left: -1.25vw;
    margin-right: 0.3vw;
}

small {
    margin-left: 0.5vw;
    color: red;
}

input[type=submit] {
    width: 45%;
    height: 1.8em;
    border: none;
    border-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #2D8CFF;
    color: white;
    margin-top: 2.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.5s, color 0.5s;
}

input[type=submit]:hover {
    background-color: #BCE4F0;
    color: #1A5F89;
    cursor: pointer;
}

input#analyze {
    width: 22%;
    height: 1.9em;
}

input#download {
    margin-top: -0.5vh;
    width: 22%;
    height: 1.9em;
}

div#dashboard {
    width: 66%;
    display: flex;
    flex-direction: column;
    padding: 1vh 3vw;
    padding-top: 1vh;
    margin-top: 1vh;
}

.meeting-group {
    font-family: 'Open Sans','Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 lightgray, 0 6px 20px 0 lightgray;
    padding: 0vh 2vw;
    margin-bottom: 2vh;
}

.meeting-header {
    width: 100%;
    height: 4em;
    margin-bottom: 0vh;
    font-weight: 300;
    font-size: large;
}

div.meetings {
    display: flex;  
    flex-direction: row;
    column-gap: 2.7vw;
    width: 100%;
    padding: 1vh 3vw 0vh 3vw;
    margin-bottom: 3vh;
    border-radius: 5px;
}

.meeting-box {
    background-color: #BCE4F0;
    width: 18%;
    height: 19vh;
    border-radius: 15px;
    font-size: 1.6vh;
    color: #0D3045;
    font-weight: 400;
    padding-top: 1.5vh;
    padding-bottom: 0vh;
    padding-left: 2.5vw;
    padding-right: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right: -2.9vw;
    text-align: left;
}

.small-checkbox {
    display: block;
    position: relative;
    top: 6.8vh;
    right: 2.3%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.big-checkbox {
    display: block;
    position: relative;
    bottom: 62%;
    left: 46%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: smaller;
}

.small-checkbox input, .big-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 3px;
}

.big-checkbox .checkmark {
    top: 14%;
    left: 120%;
    height: 14px;
    width: 14px;
    border: 1px solid lightgray;
}

/* On mouse-over, add a grey background color */
.small-checkbox:hover input ~ .checkmark {
    background-color: #eee;
}
  
.big-checkbox:hover input ~ .checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.small-checkbox input:checked ~ .checkmark {
    background-color: #2D8CFF;
}

.big-checkbox input:checked ~ .checkmark {
    background-color: #2D8CFF;
    border: 1px solid #2D8CFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.small-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.big-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.small-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.big-checkbox .checkmark:after {
    left: 4px;
    top: 1px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media screen and (max-width: 1500px) {
    h6 {
        font-size: 2vh;
    }
    p {
        font-size: small;
    }
    svg {
        width: 17px;
        height: 17px;
    }
    .meeting-header {
        font-size: medium;
    }
    .meeting-box {
        height: 20vh;
    }
    .small-checkbox {
        top: 7vh;
    }
}


@media screen and (max-width: 1024px) {
    form {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 90%;
    }
}