body {
    width: 100%;
}

p {                 
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 10vh;
}

button {
    width: 30%;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #2D8CFF;
    color: white;
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.5s, color 0.5s;
}

button:hover {
    background-color: #BCE4F0;
    color: #1A5F89;
    cursor: pointer;
}

#more-info {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center
}

#actions {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center
}

#create-account {
    text-decoration: none;
}

#create-account:hover {
    text-decoration: underline;
}

div#box {
    width: 25%;
    margin: auto;
    margin-top: 10vh;
    padding: 5vh 4vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 lightgray, 0 6px 20px 0 lightgray;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}