/* navbar */

nav {
    display: inline-block;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    margin-bottom: 2vh;
}

ul {
    list-style-type: none;
    margin-top: 5vh;
    margin-right: 3vw;
}

li {
    float: right;
}

li a {
    display: block;
    margin-left: 2.5em;
    margin-top: -1.8vh;
    margin-bottom: 0.5vh;
    overflow: none;
    text-decoration: none;
    color:rgb(61, 61, 61);
}

li a {
    text-decoration: none;
    background-image: linear-gradient(#2D8CFF, #2D8CFF);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5px;
    transition: background-size .5s;
    padding-bottom: 0.5vh;

}

li a:hover, li a:focus {
    background-size: 100% 0.5px;
}

h1#logo {
    float: left;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    width: 20%;
}

/* end navbar */

body {
    background-color: white;
    padding: 0vh 1vw;
    font-family: 'Open Sans','Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: larger;
    text-align: center;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

input {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 1.vh;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #2D8CFF;
}


label {
    width: 100%;
    text-align: left;
    margin-bottom: 1vh;
}

h5 {
    font-weight: 500;
}

h6 {
    font-size: 1.9vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    margin: 1vh 0vw 0vh 0vw;
    color: #1A5F89;
    margin-left: -2vw;
}

p {
    font-size: medium;
    width: 100%;
}

p#intro {
    width: 50%;
}

svg {
    margin-left: -1.25vw;
}


div#form {
    width: 40%;
    text-align: left;
    font-size: large;
}

#submit {
    font-family: 'Ubuntu', sans-serif;
    color: #1A5F89;
    font-size: 1.7vh;
    font-weight: 500;
    background-color: #BCE4F0;
    border: none;
    border-radius: 15px;
    width: 20%;
    height: 1.9em;
    transition: all 0.5s ease;
    text-align: center;
}

#submit:hover {
    background-color: #2D8CFF;
    color: white;
    cursor: pointer;
}

div#dashboard {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 1vh 3vw;
    padding-top: 1vh;
}

.meeting-group {
    width: 100%;
}

.meeting-header {
    width: 100%;
    margin-bottom: 1.5vh;
    border-top: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
    font-weight: 300;
}

div.meetings {
    display: flex;  
    flex-direction: row;
    column-gap: 2.7vw;
    width: 100%;
    padding: 1vh 3vw 0vh 3vw;
    margin-bottom: 3vh;
    border-radius: 5px;
}

.meeting-box {
    background-color: #BCE4F0;
    width: 18%;
    height: 18vh;
    border-radius: 15px;
    font-size: 1.6vh;
    color: #0D3045;
    font-weight: 400;
    padding: 0.25vh 0.5vw;
    padding-left: 2.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    form {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 90%;
    }
}