{% extends 'base.html' %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
{% endblock %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<table id="user-pane">
    <caption>Site Users</caption>
    <col style="width:60%">
	<col style="width:25%">
	<col style="width:15%">
    <tr>
        <th>Email</th>
        <th>Role</th>
        <th class="actions">Actions</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <span class="small material-icons">person_remove</span>
            </td>
        </tr>
    {% endfor %}

</div>

{% endblock %}

{% block javascript %}
    
{% endblock %}
