{% extends 'base.html' %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
{% endblock %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<form method="post">
    <h2>Site Users</h2>
    <div id='buttons'>
        <input type="submit" id="instructor" value="Make Instructor" name="instructor">
        <input type="submit" id="admin" value="Make Admin" name="admin">
        <input type="submit" id="user" value="Make User" name="user">
    </div>
<table id="user-pane">
    <col style="width:5%">
    <col style="width:63%">
	<col style="width:32%">
    <tr>
        <th></th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><label class="small-checkbox">
                <input type="checkbox" name="checkbox" class="checkbox" value="{{ user.id }}">
                <span class="checkmark"></span>
            </label></td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
    {% endfor %}
</table>
</form>

{% endblock %}

{% block javascript %}
    
{% endblock %}
