<!DOCTYPE html>
<html>

<head>
    <title>TeamDNA</title>
    <style>
        body {
            background-color: white;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <p>We'll put the instructions and rules and stuff here.</p>
    <br>
    <form action="http://localhost:5000/received" method="POST">
        <label for="meetids">Meeting IDs:</label>
        <input type="text" name="meetids">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>