{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <p>This Zoom extension by TeamDNA is a work in progress. Please submit a meeting ID, with no spaces, below.</p>
    <br>
    <form action="{{ url_for('dashboard') }}" method="POST">
        <div id="form">
            <label for="meetids">Meeting ID:</label>
            <input type="text" name="meetids">
        </div>
        <br>
        <input type="submit" id="submit" value="Submit">
    </form>
{% endblock %}
