{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sign-up.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
{% endblock %}

{% block title %}Create an Account{% endblock %}

{% block content %}
<div id="sign-up">
    <h1>Welcome!</h1>
    <form action="{{ url_for('sign_up') }}" method="post">
        {{ form.csrf_token }}
        {{ form.email.label }}{% if duplicate_email: %}<small>Someone has already used that email.</small>{% endif %}
        {{ form.email }}
        {% for error in form.email.errors %}<small>{{ error }}</small>{% endfor %}
        {{ form.password.label }}<small style="color: gray;">8 characters min.</small>
        {{ form.password }}
        <div id="check-pass">
            Show/Hide Password <input type="checkbox" onclick="showPassword()">
        </div>
        {% for error in form.password.errors %}<small>{{ error }}</small>{% endfor %}
        <input type="submit" value="Create Account">
    </form>
</div>
{% endblock %}

{% block javascript %}
    <script>
        function showPassword() {
            var x = document.getElementById("password");
            console.log(x);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}