{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

{% endblock %}

{% block title %}Getting Started{% endblock %}

{% block content %}
<div id="start">
    <h1 id='start'>Getting Started</h1>
    <img class='not-shdw' id='offset' src='/static/client/img/Screenshot 2021-07-30 134159.png'>
    <img class='not-shdw' id='larger' src='/static/client/img/Screenshot 2021-07-30 130520.png'>
    <button onclick="location.href='{{ url_for('start_2') }}'" type="button">Next Page</button>
</div>
{% endblock %}